@import './helpers/constants';
@import './helpers/utilities';
@import './helpers/mixins';
@import './general/common';
@import './general/buttons';
@import './layout/header';
@import './layout/footer';
@import './components/quiz';

html {
	font-size: $base-font-size;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: $font-serif;
	font-size: $base-font-size;
}
